<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
	  <target name="NBSAsyncFile" xsi:type="AsyncWrapper">
		  <target xsi:type="File"
				  name="logFile"
				  fileName="${basedir}/Log/${machinename}/NBSProcessor/NBSProcessor.log"
				  archiveFileName="${basedir}/Log/${machinename}/NBSProcessor/NBSProcessor.{#}.log"
				  archiveEvery="Day"
				  archiveNumbering="Date"
				  maxArchiveFiles="10"
				  archiveDateFormat="yyyyMMdd"
				  createDirs="true"
				  concurrentWrites="true"
				  keepFileOpen="false"
				  layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}****************************************************************************************************************************"
              />
	  </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
	  <logger name="NBS.*" minlevel="Trace" writeTo="NBSAsyncFile"/>
  </rules>
</nlog>