<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="LogEnable" value="True"/>
      <add key="LogPath" value="C:\\PrimeCharge.log"/>
      <add key="LogRename" value="C:\\_PrimeCharge.log"/>
      <add key="LogSize" value="10"/>
    </appSettings>
</configuration>