<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="POS.Properties.Settings.POSQLConnectionString" connectionString="Data Source=Nilesh\SQLEXPRESS2014;Initial Catalog=POSQL;Persist Security Info=True;User ID=sa;Password=MMSPhW110" providerName="System.Data.SqlClient" />
    <add name="POS.Properties.Settings.POSSQLConnectionString" connectionString="Data Source=Nilesh\SQLEXPRESS2014;Initial Catalog=POSSQL;Persist Security Info=True;User ID=sa;Password=MMSPhW110" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.windows.forms jitDebugging="true " />
  <!--Added by Krishna on 12 July 2011-->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="C:/PPOSTrace.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="Timestamp" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {dictionary({key} - {value} )}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Text Formatter" />
    </formatters>
    <logFilters>
      <add minimumPriority="1" maximumPriority="5" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Priority Filter" />
      <add enabled="true" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="LogEnabled Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="assembly" value="System.Data" />
    <add key="connection" value="System.Data.SqlClient.SqlConnection" />
    <add key="command" value="System.Data.SqlClient.SqlCommand" />
    <add key="dataadapter" value="System.Data.SqlClient.SqlDataAdapter" />
    <add key="parameter" value="System.Data.SqlClient.SqlParameter" />
    <!--<add key="ServerName" value="MMSDEV7215\SQLEXPRESS"/>
    <add key="DataBase" value="POSSQL_Test"/>-->
    <add key="ServerName" value="MMSDEVJENNY\SQLEXPRESS" />
    <add key="DataBase" value="POSSQL_TEST" />
    <add key="StationID" value="01" />
    <add key="LabelPerSheet" value="28" />
    <add key="CommPort" value="2" />
    <add key="CCProcessDB" value="D:\MMS\CCPSvr\CCTRANS.DBF" />
    <add key="ultraGridBagLayoutManager1.ExpandToFitHeight" value="True" />
    <add key="ultraGridBagLayoutManager1.ExpandToFitWidth" value="True" />
    <!-- DATA TO ACCESS RX INFO FROM PHARMSQL -->
    <add key="DBTYPE" value="SQL" />
    <add key="CONNECTSTRING" value="" />
    <!--<add key="DBSERVER" value="MMSDEV7215\SQLEXPRESS" />
    <add key="CATALOG" value="PharmSQL_ICD10" />-->
    <add key="DBSERVER" value="MMSDEVJENNY\SQLEXPRESS" />
    <add key="CATALOG" value="PharmSQL" />
    <add key="DBTYPEPHARM" value="SQL" />
    <!-- DATA ENDED -->
    <!-- PAYMENT PROCESSING OPTION BY SRT-->
    <!--Only 2 values allowed PCCHARGE Or DBF  -->
    <add key="FSAAMOUNT" value="00.00" />
    <add key="ENABLETRACE" value="Y" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IsDafaultLogin" value="true" />
    <add key="UserName" value="POS" />
    <add key="Password" value="POS" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <POS.Properties.Settings>
      <setting name="POS_primeweb_Service" serializeAs="String">
        <value>http://primeweb/Prime.SearchService/Prime.SearchService.asmx</value>
      </setting>
      <setting name="POS_IVULottoService_TxServerService" serializeAs="String">
        <value>https://txportwst.txhubpr.com/txserver/1</value>
      </setting>
    </POS.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.Misc.v15.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.20152.2118" newVersion="15.2.20152.2118" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.UltraWinGrid.v15.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.20152.2118" newVersion="15.2.20152.2118" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.v15.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.20152.2118" newVersion="15.2.20152.2118" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
