<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target name="EdeviceasyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/Edevice/MMS.Edevice.log"
              archiveFileName="${basedir}/Log/${machinename}/Edevice/MMS.Edevice.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="POSAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/POS/MMS.POS.log"
              archiveFileName="${basedir}/Log/${machinename}/POS/MMS.POS.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>
    <target name="DataLayerAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/POS/Resources/MMS.POS.Resources.log"
              archiveFileName="${basedir}/Log/${machinename}/POS/Resources/MMS.POS.Resources.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="FMAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/FirstMile/MMS.FIRSTMILE.log"
              archiveFileName="${basedir}/Log/${machinename}/FirstMile/MMS.FIRSTMILE.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="VFDeviceAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/VFDevice/MMS.VFDevice.log"
              archiveFileName="${basedir}/Log/${machinename}/VFDevice/MMS.VFDevice.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="PaymentAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/PaymentServer/MMS.PaymentServer.log"
              archiveFileName="${basedir}/Log/${machinename}/PaymentServer/MMS.PaymentServer.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="PharmDataAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/PharmData/Pharmdata.log"
              archiveFileName="${basedir}/Log/${machinename}/PharmData/PharmData.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} ${threadid} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>


    <target xsi:type="AsyncWrapper" name="FMAsyncConsole">
      <target xsi:type="ColoredConsole"
            name="console"
            useDefaultRowHighlightingRules="true"
            layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber}"
            />
    </target>

    <target name="SecureSubmitSyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/SecureSubmit/MMS.SecureSubmit.log"
              archiveFileName="${basedir}/Log/${machinename}/SecureSubmit/MMS.SecureSubmit.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

     <target name="MMSGlobalPaymentsSyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/MMS.GlobalPayments/MMS.GlobalPayments.Api.log"
              archiveFileName="${basedir}/Log/${machinename}/MMS.GlobalPayments/MMS.GlobalPayments.Api.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="SoluTranSyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/Soltran/Solutran.log"
              archiveFileName="${basedir}/Log/${machinename}/Soltran/Solutran.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>
   <target name="POSErrorFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/POSError/MMS.POSError.log"
              archiveFileName="${basedir}/Log/${machinename}/POSError/MMS.POSError.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="PrimeInterface_Log" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="LogFile"
              fileName="${basedir}/logs/PrimeInterface_Log/PrimeInterface_Log.txt"
              archiveFileName="${basedir}/logs/Interfaces_Log/PrimeInterface_Log_${shortdate}.{##}.txt"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}
              ${newline}"
              />
    </target>

    <target name="PrimeInterface_Error" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="LogFile"
              fileName="${basedir}/logs/PrimeInterface_Error/PrimeInterface_Error.txt"
              archiveFileName="${basedir}/logs/Interfaces_Error/PrimeInterface_Error_${shortdate}.{##}.txt"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}
              ${newline}"
              />
    </target>

    <target name="EventHUB_Trace" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="LogFile"
              fileName="${basedir}/logs/EventHUB_Trace/EventHUB_Trace.txt"
              archiveFileName="${basedir}/logs/EventHUB_Trace/EventHUB_Trace_${shortdate}.{##}.txt"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}
              ${newline}"
              />
    </target>
    <target name="EventHUB_Error" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="LogFile"
              fileName="${basedir}/logs/EventHUB_Error/EventHUB_Error.txt"
              archiveFileName="${basedir}/logs/EventHUB_Error/EventHUB_Error_${shortdate}.{##}.txt"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}
              ${newline}"
              />
    </target>

    <target name="BaseDAL_Trace" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="LogFile"
              fileName="${basedir}/logs/BaseDAL_Trace/BaseDAL_Trace.txt"
              archiveFileName="${basedir}/logs/BaseDAL_Trace/BaseDAL_Trace_${shortdate}.{##}.txt"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}
              ${newline}"
              />
    </target>
    <target name="BaseDAL_Error" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="LogFile"
              fileName="${basedir}/logs/BaseDAL_Error/BaseDAL_Error.txt"
              archiveFileName="${basedir}/logs/BaseDAL_Error/BaseDAL_Error_${shortdate}.{##}.txt"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}
              ${newline}"
              />
    </target>

    <target name="AmplicareProcessor_Trace" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="LogFile"
              fileName="${basedir}/logs/AmplicareProcessor_Trace/AmplicareProcessor_Trace.txt"
              archiveFileName="${basedir}/logs/AmplicareProcessor_Trace/AmplicareProcessor_Trace_${shortdate}.{##}.txt"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}
              ${newline}"
              />
    </target>
    <target name="AmplicareProcessor_Error" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="LogFile"
              fileName="${basedir}/logs/AmplicareProcessor_Error/AmplicareProcessor_Error.txt"
              archiveFileName="${basedir}/logs/AmplicareProcessor_Error/AmplicareProcessor_Error_${shortdate}.{##}.txt"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}
              ${newline}"
              />
    </target>
    <target name="PaymentEvertecAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/EVERTEC/Evertec.log"
              archiveFileName="${basedir}/Log/${machinename}/EVERTEC/Evertec.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="PaymentEvertechDeviceAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/EvertecDevice/EvertecDevice.log"
              archiveFileName="${basedir}/Log/${machinename}/EvertecDevice/EvertecDevice.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>


    <target name="PaymentPaxAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/HPSPAX/HPSPAX.log"
              archiveFileName="${basedir}/Log/${machinename}/HPSPAX/HPSPAX.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="PaymentVantivAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/VANTIV/Vantiv.log"
              archiveFileName="${basedir}/Log/${machinename}/VANTIV/Vantiv.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="PaymentVantivDeviceAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/VantivDevice/VantivDevice.log"
              archiveFileName="${basedir}/Log/${machinename}/VantivDevice/VantivDevice.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="PaymentPrimeRxPayAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/PRIMERXPAY/PRIMERXPAY.log"
              archiveFileName="${basedir}/Log/${machinename}/PRIMERXPAY/PRIMERXPAY.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

    <target name="PrimeRxPayAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/PrimeRxPayProcessor/PrimeRxPayProcessor.log"
              archiveFileName="${basedir}/Log/${machinename}/PrimeRxPayProcessor/PrimeRxPayProcessor.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
    </target>

	  <target name="NBSAsyncFile" xsi:type="AsyncWrapper">
		  <target xsi:type="File"
				  name="logFile"
				  fileName="${basedir}/Log/${machinename}/NBSProcessor/NBSProcessor.log"
				  archiveFileName="${basedir}/Log/${machinename}/NBSProcessor/NBSProcessor.{#}.log"
				  archiveEvery="Day"
				  archiveNumbering="Date"
				  maxArchiveFiles="10"
				  archiveDateFormat="yyyyMMdd"
				  createDirs="true"
				  concurrentWrites="true"
				  keepFileOpen="false"
				  layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}****************************************************************************************************************************"
              />
	  </target>
	  
	  <target name="PaymentELAVONAsyncFile" xsi:type="AsyncWrapper">
		  <target xsi:type="File"
				  name="logFile"
				  fileName="${basedir}/Log/${machinename}/ELAVON/Elavon.log"
				  archiveFileName="${basedir}/Log/${machinename}/ELAVON/Elavon.{#}.log"
				  archiveEvery="Day"
				  archiveNumbering="Date"
				  maxArchiveFiles="10"
				  archiveDateFormat="yyyyMMdd"
				  createDirs="true"
				  concurrentWrites="true"
				  keepFileOpen="false"
				  layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
	  </target>

	  <target name="PaymentELAVONDeviceAsyncFile" xsi:type="AsyncWrapper">
		  <target xsi:type="File"
				  name="logFile"
				  fileName="${basedir}/Log/${machinename}/ElavonDevice/ElavonDevice.log"
				  archiveFileName="${basedir}/Log/${machinename}/ElavonDevice/ElavonDevice.{#}.log"
				  archiveEvery="Day"
				  archiveNumbering="Date"
				  maxArchiveFiles="10"
				  archiveDateFormat="yyyyMMdd"
				  createDirs="true"
				  concurrentWrites="true"
				  keepFileOpen="false"
				  layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}"
              />
	  </target>
	  
  </targets>

  <rules>
    <logger name="EDevice.*" minlevel="Trace" writeTo="EdeviceasyncFile"/>
    <logger name="FirstMile.*" minlevel="Trace" writeTo="FMAsyncFile"/>
    <logger name="MMS.Device.*" minlevel="Warn" writeTo="VFDeviceAsyncFile"/>

    <logger name="MMS.HPS.*" minlevel="Trace" writeTo="PaymentAsyncFile"/>
    <logger name="MMS.PAYMENT.*" minlevel="Trace" writeTo="PaymentAsyncFile"/>
    <logger name="MMS.PCCHARGE.*" minlevel="Trace" writeTo="PaymentAsyncFile"/>
    <logger name="MMS.PROCESSOR.*" minlevel="Trace" writeTo="PaymentAsyncFile"/>
    <logger name="MMS.XLINK.*" minlevel="Trace" writeTo="PaymentAsyncFile"/>
    <logger name="MMS.EVERTEC.*" minlevel="Trace" writeTo="PaymentEvertecAsyncFile"/>
    <logger name="Evertech.*" minlevel="Trace" writeTo="PaymentEvertechDeviceAsyncFile"/>

    <logger name="PharmData.*" minlevel="Trace" writeTo="PharmDataAsyncFile"/>

    <logger name="POS_Core_UI.*" minlevel="Trace" writeTo="POSAsyncFile"/>
    <logger name="Resources.*" minlevel="Trace" writeTo="DataLayerAsyncFile"/>

    <logger name="*" minlevel="Trace" writeTo="FMAsyncConsole"/>
    <logger name="SecureSubmit.*" minlevel="Trace" writeTo="SecureSubmitSyncFile"/>
    <logger name="MMS.GlobalPayments.Api.*" minlevel="Trace" writeTo="MMSGlobalPaymentsSyncFile"/>
    <logger name="POS_Core.*" minlevel="Trace" writeTo="POSAsyncFile"/>

    <logger name="Solutran.*" minlevel="Trace" writeTo="SoluTranSyncFile"/>
  <logger name="*" minlevel="Error" writeTo="POSErrorFile"/>

    <logger name="PrimeInterface_Log" minlevel="Trace" writeTo="PrimeInterface_Log"/>
    <logger name="PrimeInterface_Error" minlevel="Trace" writeTo="PrimeInterface_Error"/>
    <logger name="EventHUB_Trace" minlevel="Trace" writeTo="EventHUB_Trace"/>
    <logger name="EventHUB_Error" minlevel="Trace" writeTo="EventHUB_Error"/>
    <logger name="BaseDAL_Trace" minlevel="Trace" writeTo="BaseDAL_Trace"/>
    <logger name="BaseDAL_Error" minlevel="Trace" writeTo="BaseDAL_Error"/>
    <logger name="AmplicareProcessor_Trace" minlevel="Trace" writeTo="AmplicareProcessor_Trace"/>
    <logger name="AmplicareProcessor_Error" minlevel="Trace" writeTo="AmplicareProcessor_Error"/>

    <logger name="MMS.HPSPAX.*" minlevel="Trace" writeTo="PaymentPaxAsyncFile"/>

    <logger name="MMS.VANTIV.*" minlevel="Trace" writeTo="PaymentVantivAsyncFile"/>
    <logger name="Vantiv.*" minlevel="Trace" writeTo="PaymentVantivDeviceAsyncFile"/>

	  <logger name="NBS.*" minlevel="Trace" writeTo="NBSAsyncFile"/>
	  
    <logger name="PrimeRxPay.*" minlevel="Trace" writeTo="PrimeRxPayAsyncFile"/>
    <logger name="MMS.PrimeRxPay.*" minlevel="Trace" writeTo="PaymentPrimeRxPayAsyncFile"/>

    <logger name="MMS.ELAVON.*" minlevel="Trace" writeTo="PaymentELAVONAsyncFile"/>
    <logger name="Elavon.*" minlevel="Trace" writeTo="PaymentELAVONDeviceAsyncFile"/>
	  
  </rules>
</nlog>
<!-- Given Below are the Items that can be added to the LOG Layout
${activityid} - Puts into log a System.Diagnostics trace correlation id.
${all-event-properties} - Log all event context data.
${appdomain} - Current app domain.
${asp-application} - ASP Application variable.
${asp-request} - ASP Request variable.
${asp-session} - ASP Session variable.
${assembly-version} - The version of the executable in the default application domain.
${basedir} - The current application domain's base directory.
${callsite} - The call site (class name, method name and source information).
${callsite-linenumber} - The call site source line number.
${counter} - A counter value (increases on each layout rendering).
${date} - Current date and time.
${document-uri} - URI of the HTML page which hosts the current Silverlight application.
${environment} - The environment variable.
${event-properties} - Log event properties data - rename of ${event-context}.
${exception} - Exception information provided through a call to one of the Logger.*Exception() methods.
${file-contents} - Renders contents of the specified file.
${gc} - The information about the garbage collector.
${gdc} - Global Diagnostic Context item. Dictionary structure to hold per-application-instance values.
${guid} - Globally-unique identifier (GUID).
${identity} - Thread identity information (name and authentication information).
${install-context} - Installation parameter (passed to InstallNLogConfig).
${level} - The log level.
${literal} - A string literal.
${log4jxmlevent} - XML event description compatible with log4j, Chainsaw and NLogViewer.
${logger} - The logger name.
${longdate} - The date and time in a long, sortable format yyyy-MM-dd HH:mm:ss.ffff.
${machinename} - The machine name that the process is running on.
${mdc} - Mapped Diagnostics Context - a thread-local structure.
${mdlc} - Async Mapped Diagnostics Context - a thread-local structure.
${message} - The formatted log message.
${ndc} - Nested Diagnostics Context - a thread-local structure.
${newline} - A newline literal.
${nlogdir} - The directory where NLog.dll is located.
${performancecounter} - The performance counter.
${processid} - The identifier of the current process.
${processinfo} - The information about the running process.
${processname} - The name of the current process.
${processtime} - The process time in format HH:mm:ss.mmm.
${qpc} - High precision timer, based on the value returned from QueryPerformanceCounter() optionally converted to seconds.
${registry} - A value from the Registry.
${shortdate} - The short date in a sortable format yyyy-MM-dd.
${sl-appinfo} - Information about Silverlight application.
${specialfolder} - System special folder path (includes My Documents, My Music, Program Files, Desktop, and more).
${stacktrace} - Stack trace renderer.
${tempdir} - A temporary directory.
${threadid} - The identifier of the current thread.
${threadname} - The name of the current thread.
${ticks} - The Ticks value of current date and time.
${time} - The time in a 24-hour, sortable format HH:mm:ss.mmm.
${var} - Render variable (new in 4.1)
${windows-identity} - Thread Windows identity information (username).
-->