<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PrimePOS_Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <PrimePOS_Core.Properties.Settings>
            <setting name="PrimePOS_Core_IVULottoService_TxServerService" serializeAs="String">
                <value>https://txportwst.txhubpr.com/txserver/1</value>
            </setting>
        </PrimePOS_Core.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.Misc.v15.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.20152.2118" newVersion="15.2.20152.2118" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.UltraWinGrid.v15.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.20152.2118" newVersion="15.2.20152.2118" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.v15.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.20152.2118" newVersion="15.2.20152.2118" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
