<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PORTNO" value="11000"/>    
    <add key="MAX_CONNECTIONS" value="10"/>
    <add key="MAX_BACKLOG" value="10"/>
    <add key="PYMT_ADDRESS" value="localhost"/>
    <add key="PYMT_PORT" value="31419"/>    <!--31419 For Pc Charge 26 For X-Charge -->
    <add key="PYMT_PROCESSOR" value="PCCHARGE"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
