<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="c:\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target name="EdeviceasyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/Edevice/MMS.Edevice.log"
              archiveFileName="${basedir}/Log/${machinename}/Edevice/MMS.Edevice.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}****************************************************************************************************************************"
              />
    </target>

    <target name="FMAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/FirstMile/MMS.FIRSTMILE.log"
              archiveFileName="${basedir}/Log/${machinename}/FirstMile/MMS.FIRSTMILE.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}****************************************************************************************************************************"
              />
    </target>

    <target name="VFDeviceAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/VFDevice/MMS.VFDevice.log"
              archiveFileName="${basedir}/Log/${machinename}/VFDevice/MMS.VFDevice.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}****************************************************************************************************************************"
              />
    </target>

    <target name="PossqlDataAsyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              name="logFile"
              fileName="${basedir}/Log/${machinename}/POSSQLDATA/MMS.POSSQLDATA.log"
              archiveFileName="${basedir}/Log/${machinename}/POSSQLDATA/MMS.POSSQLDATA.{#}.log"
              archiveEvery="Day"
              archiveNumbering="Date"
              maxArchiveFiles="10"
              archiveDateFormat="yyyyMMdd"
              createDirs="true"
              concurrentWrites="true"
              keepFileOpen="false"
              layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber} ${newline}${exception:innerFormat=toString:format=toString}
              ${newline}****************************************************************************************************************************"
              />
    </target>

    <target xsi:type="AsyncWrapper" name="FMAsyncConsole">
      <target xsi:type="ColoredConsole"
            name="console"
            useDefaultRowHighlightingRules="true"
            layout="${uppercase:${level}}:  ${longdate}   Name: ${logger} Thread: ${identity} Message: ${message} ${newline}Called From: ${callsite} ${callsite-linenumber}"
            />
    </target>
  </targets>

  <rules>
    <logger name="FirstMile.*" minlevel="Trace" writeTo="FMAsyncFile"/>
    <logger name="EDevice.*" minlevel="Trace" writeTo="EdeviceasyncFile"/>
    <logger name="MMS.Device.*" minlevel="Trace" writeTo="VFDeviceAsyncFile"/>
    <logger name="PossqlData.*" minlevel="Trace" writeTo="PossqlDataAsyncFile"/>
    
    <logger name="*" minlevel="Trace" writeTo="FMAsyncConsole"/>

  </rules>
</nlog>
<!-- Given Below are the Items that can be added to the LOG Layout
${activityid} - Puts into log a System.Diagnostics trace correlation id.
${all-event-properties} - Log all event context data.
${appdomain} - Current app domain.
${asp-application} - ASP Application variable.
${asp-request} - ASP Request variable.
${asp-session} - ASP Session variable.
${assembly-version} - The version of the executable in the default application domain.
${basedir} - The current application domain's base directory.
${callsite} - The call site (class name, method name and source information).
${callsite-linenumber} - The call site source line number.
${counter} - A counter value (increases on each layout rendering).
${date} - Current date and time.
${document-uri} - URI of the HTML page which hosts the current Silverlight application.
${environment} - The environment variable.
${event-properties} - Log event properties data - rename of ${event-context}.
${exception} - Exception information provided through a call to one of the Logger.*Exception() methods.
${file-contents} - Renders contents of the specified file.
${gc} - The information about the garbage collector.
${gdc} - Global Diagnostic Context item. Dictionary structure to hold per-application-instance values.
${guid} - Globally-unique identifier (GUID).
${identity} - Thread identity information (name and authentication information).
${install-context} - Installation parameter (passed to InstallNLogConfig).
${level} - The log level.
${literal} - A string literal.
${log4jxmlevent} - XML event description compatible with log4j, Chainsaw and NLogViewer.
${logger} - The logger name.
${longdate} - The date and time in a long, sortable format yyyy-MM-dd HH:mm:ss.ffff.
${machinename} - The machine name that the process is running on.
${mdc} - Mapped Diagnostics Context - a thread-local structure.
${mdlc} - Async Mapped Diagnostics Context - a thread-local structure.
${message} - The formatted log message.
${ndc} - Nested Diagnostics Context - a thread-local structure.
${newline} - A newline literal.
${nlogdir} - The directory where NLog.dll is located.
${performancecounter} - The performance counter.
${processid} - The identifier of the current process.
${processinfo} - The information about the running process.
${processname} - The name of the current process.
${processtime} - The process time in format HH:mm:ss.mmm.
${qpc} - High precision timer, based on the value returned from QueryPerformanceCounter() optionally converted to seconds.
${registry} - A value from the Registry.
${shortdate} - The short date in a sortable format yyyy-MM-dd.
${sl-appinfo} - Information about Silverlight application.
${specialfolder} - System special folder path (includes My Documents, My Music, Program Files, Desktop, and more).
${stacktrace} - Stack trace renderer.
${tempdir} - A temporary directory.
${threadid} - The identifier of the current thread.
${threadname} - The name of the current thread.
${ticks} - The Ticks value of current date and time.
${time} - The time in a 24-hour, sortable format HH:mm:ss.mmm.
${var} - Render variable (new in 4.1)
${windows-identity} - Thread Windows identity information (username).
-->