<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="POS_Core_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <POS_Core_UI.Properties.Settings>
            <setting name="POS_Core_UI_IVULottoService_TxServerService" serializeAs="String">
                <value>https://txportwst.txhubpr.com/txserver/1</value>
            </setting>
            <setting name="POS_Core_UI_MMSSearch_Service" serializeAs="String">
                <value>http://192.168.0.77:83/Prime.SearchService.asmx</value>
            </setting>
        </POS_Core_UI.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.Misc.v15.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.20152.2118" newVersion="15.2.20152.2118" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.UltraWinGrid.v15.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.20152.2118" newVersion="15.2.20152.2118" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Infragistics4.Win.v15.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.20152.2118" newVersion="15.2.20152.2118" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
