<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="DeviceLogEnable" value="True"/>
      <add key="LogPath" value="L:\\VeriFoneDLL\\MMS.Device\\MMS.Device\\bin\\Debug\\PosPadHost.log"/>
      <add key="LogRename" value="L:\\VeriFoneDLL\\MMS.Device\\MMS.Device\\bin\\Debug\\_PosPadHost.log"/>
      <add key="LogSize" value="10"/>
    </appSettings>
</configuration>